Source: cb-pipemenus
Section: misc
Priority: extra
Maintainer: "Super" Nathan Weber <supernathansunshine@gmail.com>
Build-Depends-Indep: debhelper (>= 5.0.0)
Standards-Version: 3.9.0
Homepage: http://pibang.org/

Package: cb-pipemenus
Depends: openbox lxterminal
Architecture: all
Description: Simple Openbox pipemenus for PiBang Linux


